<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" class="img-responsive" style="max-height: 200px;">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3> {{recipe.name}} </h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4> {{recipe.description}} </h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdownItem>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="editClick()">Edit Recipe</a></li>
        <li><a (click)="deleteRecipe()">Delete Recipe</a></li>
        <li><a (click)="getIngredients()">Get Ingrdients</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let ing of recipe.ingredients">
      {{ing.name}} - {{ing.amount}}
    </li>
  </ul>
</div>